p Hi there! Let's get started.
ul
    li
        | Simply 
        a(href='/auth') connect
        |  your twitter account with Better Shared 

    li We'll fetch your favourited tweets and show them on your own personal page

    li You can browse, search and rate other people's lists and share &amp; share alike!

#favourites
    - if (user.isAuthed() === true)
        p Hi #{user.getDisplayName()}!
    - else
        p not authed
