!!! 5
html(lang="en")
    head
    title Better Shared
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')
body
    h1 Everything's Better Shared
    #content

    !{body}

    - if (typeof apiInfo === 'object')
        #apiInfo Twitter API requests remaining: #{apiInfo.remaining_hits} - last renewed at #{apiInfo.reset_time}
